<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>ML API</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Arimio' rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Mind:300' rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

</head>

<body>
    <div class='login'>
        <h1>Home</h1>
<!--    Main input for receiving query to our ML-->

    </div>

</body>
</html>